body{
    display: flex;
    justify-content: space-around;
    justify-content: center;
}
.all {
    background-color: lightgrey;
    width:100%;
    height:100vh;
    
  }
  
  .all p {
    padding: 20px;
  }
    
  .all span {
    padding: 10px;
    margin: 10px 10px 10px 10px;
    font-size: 36px;
    font-family: Bitter;
    border-width: 5px;
  }
  
  .all .one {
    border-style: none;
    
  }
  
  .all .two {
    border-style: outset;
    border-color: blue;
  }
  
  .all .three {
    border-style: hidden;
  }
  
  .all .three:hover {
    border-style: solid;
  }
  
  .all .four {
    border-style: dotted;
    border-color:palevioletred;

  }
  
  .all .five {
    border-style: dashed;
    border-color: aquamarine;
  }
  
  .all .six {
    border-style: solid;
    border-color: brown;
  }
  
  .all .seven {
    border-style: double;
    border-color: bisque;
  }
  
  .all .eight {
    border-style: groove;
    border-color: cadetblue;
  }
  
  .all .nine {
    border-style: ridge;
    border-color: green;
  }
  
  .all .ten {
    border-style: inset;
    border-color: gold;
  }
 